@import '../variables';
@import '../mixins';

.multi-combo-box-cuie {
  @include block-border-box;
  position: relative;

  .name-txt {
    @include set-to-zero;
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    transform: translateY(-50%);
    left: 35px;
    display: block;
    max-width: 60%;
    //height: 70%;
  }

  .color-box {
    @include block-border-box;
    @include set-to-zero;
    position: absolute;
    height: 10px;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 20px;
    border: 1px solid $cui-element-btn-color;
    border-radius: 2px;
  }

  .font-box {
    @include block-border-box;
    @include set-to-zero;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }

  .inputs {
    @include input-fields;

    .color-container,
    .font-container {
      @include input-text;
      width: 80%;
      height: 100%;
      position: relative;
    }

    .input-btn {
      @include input-btn;
      cursor: pointer;
      width: 20%;

      &::after {
        display: inline-block;
        content: '\025BC';
        transform: rotateZ(0);
        transition-duration: .3s;
        transition-property: transform;
      }

      &.unfolded {

        &::after {
          transform: rotateZ(180deg);
        }
      }
    }
  }

  .list-elements {
    display: none;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    z-index: 11;
    top: 100%;
    left: 0;
    background-color: $app-background;
    list-style-type: none;
    border: 1px solid $app-border-2;
    border-top: 0;
    overflow: auto;
    //setting element height can cause visual bugs when sliding down
    //height: 510px;

    .li-elem {
      @include block-border-box;
      height: 2em;
      font-size: .75em;
      cursor: pointer;
      position: relative;
      color: $app-text-color;

      &:hover {
        background-color: $app-text-color;
        color: $app-background;
      }
    }
  }
}
