@import '../variables';
@import '../mixins';

.slider-cuie {
  @include input-fields;
  position: relative;
  padding: .3em 0 .2em;

  .beam {
    width: 100%;
    border: 1px solid $app-input-color;
    height: .5em;
    top: 50%;
    left: 0;
    position: absolute;
    transform: translateY(-50%);
    background-color: $app-button-color;
  }

  .click-field {
    width: 90%;
    height: 1.5em;
    margin: 0 auto;
    position: relative;
    background-color: transparent;
  }

  .beam-fill {
    width: 0;
    height: 100%;
    background-color: $app-text-color;
  }

  .pointer {
    height: 1.3em;
    background-color: $app-component-color;
    border: 1px solid $app-input-color;
    position: absolute;
    width: 5px;
    top: 0;
    left: 0;
  }
}
