@import '../variables';
@import '../mixins';

.canvas-image {
  @include block-border-box;
  width: 200px;
  flex: 5;
  position: relative;
  background-color: $app-background;

  .canvas-output {
    background-color: $app-component-color;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

}
