@import '../variables';
@import '../mixins';

.text-tools {
  @include block-border-box;
  width: 290px;
  height: 94vh;
  background-color: $app-section-background;
  overflow-y: auto;

  .add-text {
    @include section-presets;
    padding: .3em;

    .text-operations-button {
      @include block-border-box;
      font-size: .65em;
      outline: 0;
      color: $app-text-color;
      background-color: $app-button-color;
      cursor: pointer;
      width: 100%;
      height: 2em;
      border: $app-border-2 solid 1px;
      margin-bottom: .3em;
    }

  }

  .text-properties {
    @include section-presets;
    padding: .3em;

    .txt-field {
      @include block-border-box;
      background-color: $app-input-color;
      color: $app-text-color;
      outline: 0;
      width: 100%;
      font-size: .75em;
      height: 2em;
      padding: .15em;

      &:focus {
        background-color: $app-background;
      }
    }

  }

  h2 {
    @include section-title;
  }

  .checkbox-div {
    @include set-to-zero;
    height: 1.5em;
    width: 100%;
    border: 1px solid transparent;
  }

  .input-checkbox-text {
    @include set-to-zero;
  }

  .checkbox-label {
    @include set-to-zero;
    color: $app-text-color;
    font-size: .65em;
    display: inline-block;
    height: 1em;
    vertical-align: middle;
  }


  .checkbox-span {
    @include set-to-zero;
    display: inline-block;
    font-size: .65em;
    height: 1em;
    vertical-align: middle;
  }

  label {
    @include label;
  }

}
