@import '../variables';
@import '../mixins';

.text-tools {
  @include block-border-box;
  width: 325px;
  @include block-border-box;
  background-color: $app-section-background;
  overflow-y: auto;

  .add-text {
    @include section-presets;
    padding: .3em;

    .text-operations-button {
      @include input-btn;
      cursor: pointer;
      width: 100%;
      height: 2em;
      border: $app-border-2 solid 1px;
      margin-bottom: .3em;
    }

  }

  .text-properties {
    @include section-presets;
    padding: .3em;
  }

  h2 {
    @include section-title;
  }

  label {
    @include label;
  }

}
