/* @import 'variables'; */
/* @import 'variables'; */
/* @import 'mixins'; */
*,
html {
  font-family: 'Oxygen Mono', monospace; }

body {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #2b2b2b; }

.main {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 94vh;
  display: flex;
  flex-direction: row;
  align-items: stretch; }

.footer {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  background-color: green; }

/* @import '../variables'; */
/* @import '../mixins'; */
.combo-box-cuie {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  position: relative; }
  .combo-box-cuie .inputs {
    overflow: hidden;
    border: #292929 solid 1px;
    height: 1.55em; }
    .combo-box-cuie .inputs::after {
      clear: both; }
    .combo-box-cuie .inputs .input-txt {
      border: 0;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      display: block;
      background-color: #555;
      color: #bbb;
      outline: 0;
      float: left;
      font-size: .75em;
      height: 100%;
      padding: .15em;
      width: 80%; }
      .combo-box-cuie .inputs .input-txt:focus {
        background-color: #2b2b2b; }
    .combo-box-cuie .inputs .input-btn {
      border: 0;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      display: block;
      font-size: .65em;
      outline: 0;
      float: right;
      height: 100%;
      color: #bbb;
      background-color: #333;
      cursor: pointer;
      width: 20%; }
      .combo-box-cuie .inputs .input-btn::after {
        display: inline-block;
        content: '\025BC';
        transform: rotateZ(0);
        transition-duration: .3s;
        transition-property: transform; }
      .combo-box-cuie .inputs .input-btn.unfolded::after {
        transform: rotateZ(180deg); }
  .combo-box-cuie .list-elements {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    display: none;
    width: 100%;
    position: absolute;
    z-index: 11;
    top: 100%;
    left: 0;
    background-color: #2b2b2b;
    list-style-type: none;
    border: 1px solid #292929;
    border-top: 0; }
    .combo-box-cuie .list-elements .li-elem {
      padding: .35em;
      font-size: .75em;
      cursor: pointer;
      color: #bbb; }
      .combo-box-cuie .list-elements .li-elem:hover {
        background-color: #bbb;
        color: #2b2b2b; }

/* @import '../variables'; */
/* @import '../mixins'; */
.radio-btn-group-cuie {
  border: 0;
  margin: 0;
  padding: 0;
  border: #323232 solid 1px;
  width: 100%;
  height: 5em;
  background-color: #555;
  position: relative; }
  .radio-btn-group-cuie .btn-wrapper {
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    display: block;
    padding: .1em .3em; }
    .radio-btn-group-cuie .btn-wrapper .input-rbtn {
      border: 0;
      margin: 0;
      padding: 0; }
    .radio-btn-group-cuie .btn-wrapper.top-left {
      top: 0;
      left: 0; }
    .radio-btn-group-cuie .btn-wrapper.top-center {
      top: 0;
      left: 50%;
      transform: translateX(-50%); }
    .radio-btn-group-cuie .btn-wrapper.bottom-center {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%); }
    .radio-btn-group-cuie .btn-wrapper.center-left {
      left: 0;
      top: 50%;
      transform: translateY(-50%); }
    .radio-btn-group-cuie .btn-wrapper.center-center {
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%); }
    .radio-btn-group-cuie .btn-wrapper.center-right {
      right: 0;
      top: 50%;
      transform: translateY(-50%); }
    .radio-btn-group-cuie .btn-wrapper.top-right {
      top: 0;
      right: 0; }
    .radio-btn-group-cuie .btn-wrapper.bottom-left {
      bottom: 0;
      left: 0; }
    .radio-btn-group-cuie .btn-wrapper.bottom-right {
      bottom: 0;
      right: 0; }

/* @import '../variables'; */
/* @import '../mixins'; */
.slider-cuie {
  overflow: hidden;
  border: #292929 solid 1px;
  height: 1.55em;
  position: relative;
  padding: .3em 0 .2em; }
  .slider-cuie::after {
    clear: both; }
  .slider-cuie .beam {
    width: 100%;
    border: 1px solid #555;
    height: .5em;
    top: 50%;
    left: 0;
    position: absolute;
    transform: translateY(-50%);
    background-color: #333; }
  .slider-cuie .click-field {
    width: 90%;
    height: 1.5em;
    margin: 0 auto;
    position: relative;
    background-color: transparent; }
  .slider-cuie .beam-fill {
    width: 0;
    height: 100%;
    background-color: #bbb; }
  .slider-cuie .pointer {
    height: 1.3em;
    background-color: #5b5b5b;
    border: 1px solid #555;
    position: absolute;
    width: 5px;
    top: 0;
    left: 0; }

/* @import '../variables'; */
/* @import '../mixins'; */
.image-uploader {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  width: 100%; }
  .image-uploader .upload-form {
    display: block;
    width: 100%;
    margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid #323232; }
  .image-uploader .upload-image {
    border: 1px solid #bbb;
    display: block;
    width: 55%;
    height: auto;
    margin: 0 auto; }
  .image-uploader .upload-text {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    width: 80%;
    font-size: .65em;
    border: #292929 solid 1px;
    background-color: #555;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #bbb;
    padding: .2em; }
  .image-uploader .upload-image-properties {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    display: inline-block;
    font-size: .65em;
    padding: .2em;
    border: #292929 solid 1px;
    background-color: #555;
    color: #bbb; }
  .image-uploader .upload-button {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    font-size: .65em;
    outline: 0;
    float: right;
    height: 100%;
    color: #bbb;
    background-color: #333;
    cursor: pointer;
    width: 100%;
    height: 2em;
    border: #292929 solid 1px; }

/* @import '../variables'; */
/* @import '../mixins'; */
.title {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  background-color: #3c3f41;
  width: 100%;
  padding: .5em;
  border: 1px solid #323232;
  height: 6vh; }
  .title .app-name {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: normal;
    color: #bbb; }
    .title .app-name span {
      display: inline-block;
      width: 100%;
      font-size: .65em;
      box-sizing: border-box;
      color: #bbb;
      padding: 0 2em; }

/* @import '../variables'; */
/* @import '../mixins'; */
.canvas-image-tools {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  width: 325px;
  padding-bottom: 3em;
  background-color: #3c3f41;
  overflow-y: auto; }
  .canvas-image-tools .canvas-options {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    background-color: #3c3f41;
    border: 1px solid #323232;
    padding: .3em; }
  .canvas-image-tools .image-options {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    background-color: #3c3f41;
    border: 1px solid #323232;
    padding: .3em; }
  .canvas-image-tools h2 {
    border: 0;
    margin: 0;
    padding: 0;
    padding-bottom: .2em;
    color: #bbb;
    font-size: .8em;
    font-weight: normal; }
  .canvas-image-tools label {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    color: #bbb;
    font-size: .65em;
    padding: .3em 0; }

/* @import '../variables'; */
/* @import '../mixins'; */
.text-tools {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  width: 290px;
  height: 94vh;
  background-color: #3c3f41;
  overflow-y: auto; }
  .text-tools .add-text {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    background-color: #3c3f41;
    border: 1px solid #323232;
    padding: .3em; }
    .text-tools .add-text .text-operations-button {
      border: 0;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      display: block;
      font-size: .65em;
      outline: 0;
      color: #bbb;
      background-color: #333;
      cursor: pointer;
      width: 100%;
      height: 2em;
      border: #292929 solid 1px;
      margin-bottom: .3em; }
  .text-tools .text-properties {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    background-color: #3c3f41;
    border: 1px solid #323232;
    padding: .3em; }
    .text-tools .text-properties .txt-field {
      border: 0;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      display: block;
      background-color: #555;
      color: #bbb;
      outline: 0;
      width: 100%;
      font-size: .75em;
      height: 2em;
      padding: .15em; }
      .text-tools .text-properties .txt-field:focus {
        background-color: #2b2b2b; }
  .text-tools h2 {
    border: 0;
    margin: 0;
    padding: 0;
    padding-bottom: .2em;
    color: #bbb;
    font-size: .8em;
    font-weight: normal; }
  .text-tools label {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    color: #bbb;
    font-size: .65em;
    padding: .3em 0; }

/* @import '../variables'; */
/* @import '../mixins'; */
.canvas-image {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  width: 200px;
  flex: 5;
  position: relative;
  background-color: #2b2b2b; }
  .canvas-image .canvas-output {
    background-color: #5b5b5b;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%); }
