@import 'variables';
@import 'mixins';

*,
html {
  font-family: 'Oxygen Mono', monospace;
}

body {
  @include set-to-zero;
  background-color: $app-background;
}

.main {
  @include block-border-box;
  width: 100%;
  height: 94vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.footer {
  @include block-border-box;
  width: 100%;
  background-color: green;
}

