@import 'variables';

@mixin set-to-zero {
  border: 0;
  margin: 0;
  padding: 0;
}

@mixin block-border-box {
  box-sizing: border-box;
  display: block;
}

@mixin disabled-elem {
  pointer-events: none;
  color: $color-grey;
  background-color: #f1e1d7;
}
