$cui-text-color: black;
$cui-border-color: rgba(0, 0, 0, .4);
$cui-border-color-lighter: rgba(0, 0, 0, .2);
$cui-element-focus: #f5f5f5;
$cui-element-hover: #ebebeb;
$cui-element-title: #ebebeb;
$cui-element-btn-color: #d7d7d7;
$cui-unselected-text-color: #383838;
$cui-border-radius: 5px;

$app-background: #2b2b2b;
$app-section-background: #3c3f41;
$app-text-color: #bbb;
$app-border-color: #323232;
$app-input-color: #555;
$app-button-color: #333;
$app-border-2: #292929;
$app-component-color: #5b5b5b;
